n8n/workflows/director-notion-phase2-workflow.json
{
  "name": "Director + Notion Phase 2: Database Creation Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phase2-context",
              "name": "phase2Context",
              "value": {
                "sessionId": "={{ $now.toISOString() }}",
                "workflowType": "director_notion_phase2_creation",
                "startTime": "={{ new Date().toISOString() }}",
                "phase": "database_creation",
                "mockPhase1Results": {
                  "context_id": "phase1_context_123",
                  "categorized_ideas": [
                    {
                      "idea_id": "16cd7be3dbcd80e1aac9c3a95ffaa61a",
                      "title": "AI Video Generator Project",
                      "original_content": "Build an open source AI video generation tool using Stable Video Diffusion",
                      "categorization": {
                        "database": "projects",
                        "database_id": "3cd8ea052d6d4b69956e89b1184cae75",
                        "category": "AI/ML Project",
                        "priority": "High",
                        "tags": ["ai", "video", "open-source", "stable-diffusion"]
                      }
                    },
                    {
                      "idea_id": "16cd7be3dbcd80e1aac9c3a95ffaa61a",
                      "title": "Machine Learning Algorithms Reference",
                      "original_content": "Comprehensive guide on different ML algorithms, when to use each, and implementation examples",
                      "categorization": {
                        "database": "knowledge",
                        "database_id": "87654321432143214321210987654321",
                        "category": "Technical Reference",
                        "priority": "Medium",
                        "tags": ["machine-learning", "algorithms", "reference", "education"]
                      }
                    },
                    {
                      "idea_id": "16cd7be3dbcd80e1aac9c3a95ffaa61a", 
                      "title": "Daily Productivity Insights",
                      "original_content": "Reflection on today's work patterns and productivity techniques that worked well",
                      "categorization": {
                        "database": "journal",
                        "database_id": "11111111222222223333333344444444",
                        "category": "Personal Reflection",
                        "priority": "Low",
                        "tags": ["productivity", "reflection", "daily-notes"]
                      }
                    }
                  ],
                  "processing_summary": {
                    "total_processed": 3,
                    "projects": 1,
                    "knowledge": 1, 
                    "journal": 1,
                    "timestamp": "={{ new Date().toISOString() }}"
                  }
                }
              },
              "type": "object"
            }
          ]
        }
      },
      "id": "setup-phase2-context",
      "name": "Setup Phase 2 Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3002/api/mcp/update-context",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  'context_id': $json.phase2Context.mockPhase1Results.context_id,\n  'phase': 'phase1_to_phase2_transition',\n  'agent_response': {\n    'agent_id': 'notion',\n    'task_id': 'categorization_complete',\n    'phase': 'categorization_complete',\n    'timestamp': new Date().toISOString(),\n    'execution_time_ms': 45000,\n    'results': {\n      'ideas_processed': $json.phase2Context.mockPhase1Results.categorized_ideas,\n      'summary': $json.phase2Context.mockPhase1Results.processing_summary\n    },\n    'status': {\n      'success': true,\n      'errors': [],\n      'next_phase': 'database_creation_required'\n    }\n  },\n  'workflow_data': {\n    'categorized_ideas_ready_for_creation': $json.phase2Context.mockPhase1Results.categorized_ideas,\n    'database_targets': {\n      'projects': '3cd8ea052d6d4b69956e89b1184cae75',\n      'knowledge': '87654321432143214321210987654321',\n      'journal': '11111111222222223333333344444444'\n    }\n  }\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "director-log-context",
      "name": "Director: Log Phase 1 Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3002/api/mcp/create-agent-instructions",
        "method": "POST", 
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  'workflow_type': 'database_item_creation',\n  'target_agent': 'notion',\n  'context_id': $('Setup Phase 2 Context').item.json.phase2Context.mockPhase1Results.context_id,\n  'parameters': {\n    'creation_phase': 'database_item_creation',\n    'categorized_ideas': $('Setup Phase 2 Context').item.json.phase2Context.mockPhase1Results.categorized_ideas,\n    'target_databases': {\n      'projects': '3cd8ea052d6d4b69956e89b1184cae75',\n      'knowledge': '87654321432143214321210987654321', \n      'journal': '11111111222222223333333344444444'\n    },\n    'operation_mode': 'create_new_items',\n    'source_idea_status_update': 'Done'\n  },\n  'focus_areas': ['database_creation', 'multi_database_routing', 'source_cleanup']\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "director-create-phase2-instructions",
      "name": "Director: Create Phase 2 Instructions", 
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Director Phase 2 Instructions for Database Creation\nconst directorResponse = $json;\nconst phase2Context = $('Setup Phase 2 Context').first().json.phase2Context;\n\n// Extract instruction data\nconst instructionData = directorResponse.data;\n\nif (!instructionData || !instructionData.instruction) {\n  return [{\n    instructionText: \"Error: No valid Phase 2 instructions received from Director\",\n    error: true,\n    task_id: \"phase2_error_task\"\n  }];\n}\n\n// Build comprehensive Phase 2 instruction text\nconst instruction = instructionData.instruction;\nlet instructionText = '';\n\n// Add Phase 2 header\ninstructionText += `# PHASE 2: DATABASE ITEM CREATION WORKFLOW\\n\\n`;\ninstructionText += `## WORKFLOW CONTEXT\\n`;\ninstructionText += `- Session ID: ${phase2Context.sessionId}\\n`;\ninstructionText += `- Current Phase: ${phase2Context.phase}\\n`;\ninstructionText += `- Previous Context: ${instruction.parameters?.context_id}\\n`;\ninstructionText += `- Operation Mode: ${instruction.parameters?.operation_mode}\\n\\n`;\n\n// Add Phase 1 results summary\ninstructionText += `## PHASE 1 RESULTS SUMMARY\\n`;\nconst categorizedIdeas = instruction.parameters?.categorized_ideas || [];\ninstructionText += `- Total Ideas Processed: ${categorizedIdeas.length}\\n`;\nconst databaseCounts = categorizedIdeas.reduce((acc, idea) => {\n  acc[idea.categorization.database] = (acc[idea.categorization.database] || 0) + 1;\n  return acc;\n}, {});\nObject.entries(databaseCounts).forEach(([db, count]) => {\n  instructionText += `- ${db.toUpperCase()} Items: ${count}\\n`;\n});\ninstructionText += '\\n';\n\n// Add primary objective\ninstructionText += `## PRIMARY OBJECTIVE\\n`;\ninstructionText += `Create new database items from categorized ideas using generic Notion database endpoints.\\n`;\ninstructionText += `Route each categorized idea to its assigned database and create properly structured items.\\n\\n`;\n\n// Add target databases\nif (instruction.parameters?.target_databases) {\n  instructionText += `## TARGET DATABASES\\n`;\n  Object.entries(instruction.parameters.target_databases).forEach(([type, id]) => {\n    const count = databaseCounts[type] || 0;\n    instructionText += `- **${type.toUpperCase()}** (${id}): ${count} items to create\\n`;\n  });\n  instructionText += '\\n';\n}\n\n// Add detailed categorized ideas\ninstructionText += `## CATEGORIZED IDEAS FOR CREATION\\n`;\ncategorizedIdeas.forEach((idea, index) => {\n  instructionText += `### ${index + 1}. ${idea.title}\\n`;\n  instructionText += `- **Source ID**: ${idea.idea_id}\\n`;\n  instructionText += `- **Target Database**: ${idea.categorization.database} (${idea.categorization.database_id})\\n`;\n  instructionText += `- **Category**: ${idea.categorization.category}\\n`;\n  instructionText += `- **Priority**: ${idea.categorization.priority}\\n`;\n  instructionText += `- **Tags**: [${idea.categorization.tags.join(', ')}]\\n`;\n  instructionText += `- **Content**: ${idea.original_content}\\n\\n`;\n});\n\n// Add execution requirements\ninstructionText += `## EXECUTION REQUIREMENTS\\n`;\ninstructionText += `1. **Use Generic Database Endpoints**: Use \\`/api/databases/{databaseId}/pages\\` for all operations\\n`;\ninstructionText += `2. **Auto-Detect Database Schemas**: Call \\`/api/databases/{databaseId}/schema\\` first\\n`;\ninstructionText += `3. **Create New Items**: Use POST to create new pages in target databases\\n`;\ninstructionText += `4. **Update Source Ideas**: Set original ideas to 'Done' status after creation\\n`;\ninstructionText += `5. **Maintain Data Integrity**: Preserve all categorization metadata\\n\\n`;\n\n// Add detailed execution steps\ninstructionText += `## DETAILED EXECUTION STEPS\\n`;\ninstructionText += `For each categorized idea:\\n`;\ninstructionText += `1. **Get Database Schema**: \\`GET /api/databases/{database_id}/schema\\`\\n`;\ninstructionText += `2. **Create Database Item**: \\`POST /api/databases/{database_id}/pages\\` with:\\n`;\ninstructionText += `   - Title/Name: Use idea title\\n`;\ninstructionText += `   - Content/Description: Use original content\\n`;\ninstructionText += `   - Category/Type: Use categorization.category\\n`;\ninstructionText += `   - Priority: Use categorization.priority\\n`;\ninstructionText += `   - Tags: Use categorization.tags\\n`;\ninstructionText += `   - Source: Reference original idea_id\\n`;\ninstructionText += `3. **Update Source Idea**: \\`PUT /api/ideas/{idea_id}\\` status='Done'\\n`;\ninstructionText += `4. **Log Operation**: Record success/failure for each creation\\n\\n`;\n\n// Add expected output format\ninstructionText += `## EXPECTED OUTPUT FORMAT\\n`;\ninstructionText += `Return comprehensive results for Phase 2:\\n`;\ninstructionText += `{\\n`;\ninstructionText += `  \\\"agent_id\\\": \\\"notion\\\",\\n`;\ninstructionText += `  \\\"task_id\\\": \\\"${instructionData.task_id}\\\",\\n`;\ninstructionText += `  \\\"phase\\\": \\\"database_creation_complete\\\",\\n`;\ninstructionText += `  \\\"timestamp\\\": \\\"ISO timestamp\\\",\\n`;\ninstructionText += `  \\\"execution_time_ms\\\": \\\"duration\\\",\\n`;\ninstructionText += `  \\\"results\\\": {\\n`;\ninstructionText += `    \\\"database_items_created\\\": [\\n`;\ninstructionText += `      {\\n`;\ninstructionText += `        \\\"source_idea_id\\\": \\\"original_id\\\",\\n`;\ninstructionText += `        \\\"new_item_id\\\": \\\"created_page_id\\\",\\n`;\ninstructionText += `        \\\"database_type\\\": \\\"projects|knowledge|journal\\\",\\n`;\ninstructionText += `        \\\"database_id\\\": \\\"target_db_id\\\",\\n`;\ninstructionText += `        \\\"title\\\": \\\"item_title\\\",\\n`;\ninstructionText += `        \\\"creation_status\\\": \\\"success|failed\\\",\\n`;\ninstructionText += `        \\\"error_message\\\": \\\"if failed\\\"\\n`;\ninstructionText += `      }\\n`;\ninstructionText += `    ],\\n`;\ninstructionText += `    \\\"source_ideas_updated\\\": [\\n`;\ninstructionText += `      {\\n`;\ninstructionText += `        \\\"idea_id\\\": \\\"original_id\\\",\\n`;\ninstructionText += `        \\\"status_updated_to\\\": \\\"Done\\\",\\n`;\ninstructionText += `        \\\"update_status\\\": \\\"success|failed\\\"\\n`;\ninstructionText += `      }\\n`;\ninstructionText += `    ],\\n`;\ninstructionText += `    \\\"summary\\\": {\\n`;\ninstructionText += `      \\\"total_ideas_processed\\\": ${categorizedIdeas.length},\\n`;\ninstructionText += `      \\\"successful_creations\\\": \\\"number\\\",\\n`;\ninstructionText += `      \\\"failed_creations\\\": \\\"number\\\",\\n`;\ninstructionText += `      \\\"projects_created\\\": \\\"number\\\",\\n`;\ninstructionText += `      \\\"knowledge_created\\\": \\\"number\\\",\\n`;\ninstructionText += `      \\\"journal_created\\\": \\\"number\\\",\\n`;\ninstructionText += `      \\\"source_ideas_completed\\\": \\\"number\\\"\\n`;\ninstructionText += `    }\\n`;\ninstructionText += `  },\\n`;\ninstructionText += `  \\\"status\\\": {\\n`;\ninstructionText += `    \\\"success\\\": \\\"boolean\\\",\\n`;\ninstructionText += `    \\\"errors\\\": [\\\"array of errors\\\"],\\n`;\ninstructionText += `    \\\"next_phase\\\": \\\"workflow_complete\\\"\\n`;\ninstructionText += `  },\\n`;\ninstructionText += `  \\\"performance_metrics\\\": {\\n`;\ninstructionText += `    \\\"database_schemas_fetched\\\": \\\"number\\\",\\n`;\ninstructionText += `    \\\"api_calls_made\\\": \\\"number\\\",\\n`;\ninstructionText += `    \\\"average_creation_time_ms\\\": \\\"number\\\"\\n`;\ninstructionText += `  }\\n`;\ninstructionText += `}\\n\\n`;\n\ninstructionText += `## CRITICAL REMINDERS\\n`;\ninstructionText += `- Use GENERIC database endpoints (/api/databases/{id}/...) NOT legacy idea endpoints\\n`;\ninstructionText += `- Fetch schema first to understand each database's structure\\n`;\ninstructionText += `- Create items with ALL available relevant properties\\n`;\ninstructionText += `- Update original ideas to 'Done' status after successful creation\\n`;\ninstructionText += `- Log detailed success/failure information for Director context\\n\\n`;\n\ninstructionText += `**BEGIN PHASE 2 DATABASE CREATION EXECUTION NOW**\\n`;\n\nreturn [{\n  instructionText,\n  task_id: instructionData.task_id,\n  phase: 'database_creation',\n  categorized_ideas: categorizedIdeas,\n  target_databases: instruction.parameters?.target_databases,\n  context_id: instruction.parameters?.context_id,\n  directorResponse: instructionData\n}];"
      },
      "id": "parse-phase2-instructions",
      "name": "Parse Phase 2 Instructions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.5,
          "maxTokens": 4000
        }
      },
      "id": "openai-phase2-model",
      "name": "OpenAI Phase 2 Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1340, 200],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.instructionText }}",
        "agent": "conversationalAgent",
        "options": {
          "systemMessage": "You are a specialized Notion Agent focused on DATABASE ITEM CREATION. You have access to generic Notion database tools that work with ANY database. Your task is to take categorized ideas and create new items in the appropriate databases (projects, knowledge, journal, etc.). Always fetch database schemas first, create items with proper properties, and update source ideas to 'Done' status.",
          "maxIterations": 25
        }
      },
      "id": "notion-phase2-agent",
      "name": "Notion Agent (Phase 2: Creation)",
      "type": "@n8n/n8n-nodes-langchain.agent", 
      "typeVersion": 1.6,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "toolDescription": "Get database schema and property information for any Notion database",
        "method": "GET",
        "url": "http://host.docker.internal:3001/api/databases/{databaseId}/schema",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "databaseId",
              "description": "REQUIRED: The Notion database ID to get schema for"
            }
          ]
        }
      },
      "id": "get-database-schema",
      "name": "Get Database Schema",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1560, 120]
    },
    {
      "parameters": {
        "toolDescription": "Create a new page/item in any Notion database using auto-detected properties",
        "method": "POST", 
        "url": "http://host.docker.internal:3001/api/databases/{databaseId}/pages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {properties} }}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "databaseId",
              "description": "REQUIRED: Target database ID for item creation"
            },
            {
              "name": "properties",
              "description": "REQUIRED: JSON object with database properties (use schema to determine correct property names and formats)"
            }
          ]
        }
      },
      "id": "create-database-item",
      "name": "Create Database Item",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "toolDescription": "Get all pages from any Notion database with filtering",
        "method": "GET",
        "url": "http://host.docker.internal:3001/api/databases/{databaseId}/pages?limit={limit}&filter={filter}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "databaseId", 
              "description": "REQUIRED: The Notion database ID"
            },
            {
              "name": "limit",
              "description": "Maximum number of pages to retrieve (default: 50)"
            },
            {
              "name": "filter",
              "description": "Optional text search filter"
            }
          ]
        }
      },
      "id": "get-database-pages",
      "name": "Get Database Pages",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1560, 280]
    },
    {
      "parameters": {
        "toolDescription": "Update source idea status after successful database item creation",
        "method": "PUT",
        "url": "http://host.docker.internal:3001/api/ideas/{idea_id}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"status\": \"{status}\", \"tags\": \"{tags}\" } }}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "idea_id",
              "description": "REQUIRED: ID of the original idea to update"
            },
            {
              "name": "status",
              "description": "REQUIRED: Set to 'Done' after successful database item creation"
            },
            {
              "name": "tags",
              "description": "Optional: Add processing tags like 'processed', 'migrated'"
            }
          ]
        }
      },
      "id": "update-source-idea",
      "name": "Update Source Idea Status",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1560, 360]
    },
    {
      "parameters": {
        "toolDescription": "Auto-detect optimal property mappings for any database",
        "method": "GET", 
        "url": "http://host.docker.internal:3001/api/databases/{databaseId}/auto-config",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "databaseId",
              "description": "REQUIRED: Database ID to analyze for property mappings"
            }
          ]
        }
      },
      "id": "auto-config-database",
      "name": "Auto-Config Database Properties",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1560, 440]
    },
    {
      "parameters": {
        "jsCode": "// Process Phase 2 Results - Database Creation Complete\nconst agentOutput = $json;\nconst phase2Context = $('Parse Phase 2 Instructions').first().json;\n\n// Parse agent output\nlet phase2Results;\ntry {\n  const outputText = agentOutput.output || agentOutput.text || JSON.stringify(agentOutput);\n  console.log('Phase 2 Agent Output:', outputText.substring(0, 500));\n  \n  const jsonMatch = outputText.match(/\\{[\\s\\S]*\\}/);\n  \n  if (jsonMatch) {\n    phase2Results = JSON.parse(jsonMatch[0]);\n  } else {\n    // Fallback structure for Phase 2\n    phase2Results = {\n      agent_id: 'notion',\n      task_id: phase2Context.task_id || 'phase2_task',\n      phase: 'database_creation_complete',\n      timestamp: new Date().toISOString(),\n      execution_time_ms: Date.now() - new Date($('Setup Phase 2 Context').first().json.phase2Context.startTime).getTime(),\n      results: {\n        database_items_created: [],\n        source_ideas_updated: [],\n        summary: {\n          total_ideas_processed: phase2Context.categorized_ideas?.length || 0,\n          successful_creations: 0,\n          failed_creations: 0,\n          projects_created: 0,\n          knowledge_created: 0,\n          journal_created: 0,\n          source_ideas_completed: 0\n        }\n      },\n      status: {\n        success: true,\n        errors: [],\n        next_phase: 'workflow_complete'\n      },\n      performance_metrics: {\n        database_schemas_fetched: 0,\n        api_calls_made: 0,\n        average_creation_time_ms: 0\n      }\n    };\n  }\n} catch (error) {\n  console.error('Error parsing Phase 2 results:', error.message);\n  phase2Results = {\n    agent_id: 'notion',\n    task_id: 'phase2_error',\n    phase: 'database_creation_error',\n    timestamp: new Date().toISOString(),\n    error: error.message,\n    status: { success: false, errors: [error.message], next_phase: 'error_review' }\n  };\n}\n\n// Calculate comprehensive metrics\nconst totalExecutionTime = Date.now() - new Date($('Setup Phase 2 Context').first().json.phase2Context.startTime).getTime();\nconst originalIdeasCount = phase2Context.categorized_ideas?.length || 0;\n\n// Analyze creation results by database type\nconst databaseBreakdown = {\n  projects: { created: 0, failed: 0 },\n  knowledge: { created: 0, failed: 0 },\n  journal: { created: 0, failed: 0 }\n};\n\nif (phase2Results.results?.database_items_created) {\n  phase2Results.results.database_items_created.forEach(item => {\n    if (item.database_type && databaseBreakdown[item.database_type]) {\n      if (item.creation_status === 'success') {\n        databaseBreakdown[item.database_type].created++;\n      } else {\n        databaseBreakdown[item.database_type].failed++;\n      }\n    }\n  });\n}\n\n// Create workflow completion summary\nconst workflowSummary = {\n  phase2_complete: true,\n  workflow_complete: phase2Results.status?.next_phase === 'workflow_complete',\n  total_execution_time_ms: totalExecutionTime,\n  phase1_results: {\n    ideas_categorized: originalIdeasCount,\n    categories_assigned: ['projects', 'knowledge', 'journal']\n  },\n  phase2_results: {\n    database_items_created: phase2Results.results?.database_items_created?.length || 0,\n    source_ideas_updated: phase2Results.results?.source_ideas_updated?.length || 0,\n    creation_success_rate: originalIdeasCount > 0 ? \n      (phase2Results.results?.summary?.successful_creations || 0) / originalIdeasCount : 0\n  },\n  database_breakdown: databaseBreakdown,\n  performance_analysis: {\n    avg_time_per_creation: phase2Results.performance_metrics?.average_creation_time_ms || 0,\n    total_api_calls: phase2Results.performance_metrics?.api_calls_made || 0,\n    schemas_fetched: phase2Results.performance_metrics?.database_schemas_fetched || 0\n  }\n};\n\n// Create Director context update payload\nconst directorContextUpdate = {\n  context_id: phase2Context.context_id,\n  phase: 'workflow_complete',\n  agent_response: phase2Results,\n  workflow_summary: workflowSummary,\n  timestamp: new Date().toISOString()\n};\n\n// Final output\nreturn [{\n  phase2Complete: true,\n  workflowResults: {\n    phase1_categorization: {\n      ideas_processed: originalIdeasCount,\n      categorization_complete: true\n    },\n    phase2_creation: {\n      items_created: phase2Results.results?.database_items_created?.length || 0,\n      success_rate: workflowSummary.phase2_results.creation_success_rate,\n      database_breakdown: databaseBreakdown\n    },\n    overall_success: phase2Results.status?.success && workflowSummary.workflow_complete,\n    total_time_ms: totalExecutionTime\n  },\n  directorContextUpdate,\n  phase2Results,\n  rawAgentOutput: agentOutput.output || agentOutput.text || 'No output captured',\n  debugInfo: {\n    original_ideas_count: originalIdeasCount,\n    context_id: phase2Context.context_id,\n    task_id: phase2Context.task_id,\n    databases_targeted: Object.keys(phase2Context.target_databases || {})\n  }\n}];"
      },
      "id": "analyze-phase2-results",
      "name": "Analyze Phase 2 Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3002/api/mcp/update-context",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json", 
        "jsonBody": "={{ $json.directorContextUpdate }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "director-final-context-update",
      "name": "Director: Final Context Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Setup Phase 2 Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Phase 2 Context": {
      "main": [
        [
          {
            "node": "Director: Log Phase 1 Context",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Director: Log Phase 1 Context": {
      "main": [
        [
          {
            "node": "Director: Create Phase 2 Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Director: Create Phase 2 Instructions": {
      "main": [
        [
          {
            "node": "Parse Phase 2 Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Phase 2 Instructions": {
      "main": [
        [
          {
            "node": "Notion Agent (Phase 2: Creation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Phase 2 Model": {
      "ai_languageModel": [
        [
          {
            "node": "Notion Agent (Phase 2: Creation)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Notion Agent (Phase 2: Creation)": {
      "main": [
        [
          {
            "node": "Analyze Phase 2 Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Database Schema": {
      "ai_tool": [
        [
          {
            "node": "Notion Agent (Phase 2: Creation)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Database Item": {
      "ai_tool": [
        [
          {
            "node": "Notion Agent (Phase 2: Creation)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Database Pages": {
      "ai_tool": [
        [
          {
            "node": "Notion Agent (Phase 2: Creation)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Source Idea Status": {
      "ai_tool": [
        [
          {
            "node": "Notion Agent (Phase 2: Creation)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Config Database Properties": {
      "ai_tool": [
        [
          {
            "node": "Notion Agent (Phase 2: Creation)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Phase 2 Results": {
      "main": [
        [
          {
            "node": "Director: Final Context Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-06T19:30:00.000Z",
  "versionId": "1"
}
