n8n/workflows/archive/director-notion-phase2-workflow.json
{
  "name": "Director + Notion Phase 2: Database Creation Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phase2-context",
              "name": "phase2Context",
              "value": {
                "sessionId": "={{ $now.toISOString() }}",
                "workflowType": "director_notion_phase2_creation",
                "startTime": "={{ new Date().toISOString() }}",
                "phase": "database_creation",
                "mockPhase1Results": {
                  "context_id": "phase1_context_123",
                  "categorized_ideas": [
                    {
                      "idea_id": "16cd7be3dbcd80e1aac9c3a95ffaa61a",
                      "title": "AI Video Generator Project",
                      "original_content": "Build an open source AI video generation tool using Stable Video Diffusion",
                      "categorization": {
                        "database": "projects",
                        "database_id": "3cd8ea052d6d4b69956e89b1184cae75",
                        "category": "AI/ML Project",
                        "priority": "High",
                        "tags": ["ai", "video", "open-source", "stable-diffusion"]
                      }
                    },
                    {
                      "idea_id": "16cd7be3dbcd80e1aac9c3a95ffaa61a",
                      "title": "Machine Learning Algorithms Reference",
                      "original_content": "Comprehensive guide on different ML algorithms, when to use each, and implementation examples",
                      "categorization": {
                        "database": "knowledge",
                        "database_id": "263d7be3dbcd80c0b6e4fd309a8af453",
                        "category": "Technical Reference",
                        "priority": "Medium",
                        "tags": ["machine-learning", "algorithms", "reference", "education"]
                      }
                    },
                    {
                      "idea_id": "16cd7be3dbcd80e1aac9c3a95ffaa61a", 
                      "title": "Daily Productivity Insights",
                      "original_content": "Reflection on today's work patterns and productivity techniques that worked well",
                      "categorization": {
                        "database": "journal",
                        "database_id": "a1d35f6081a044589425512cb9d136b7",
                        "category": "Personal Reflection",
                        "priority": "Low",
                        "tags": ["productivity", "reflection", "daily-notes"]
                      }
                    }
                  ],
                  "processing_summary": {
                    "total_processed": 3,
                    "projects": 1,
                    "knowledge": 1, 
                    "journal": 1,
                    "timestamp": "={{ new Date().toISOString() }}"
                  }
                }
              },
              "type": "object"
            }
          ]
        }
      },
      "id": "setup-phase2-context",
      "name": "Setup Phase 2 Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "context-logged",
              "name": "contextLogged",
              "value": {
                "success": true,
                "message": "Context logging skipped - Director MCP Server running in pure MCP mode",
                "timestamp": "={{ new Date().toISOString() }}",
                "phase1_data": "={{ $json.phase2Context.mockPhase1Results }}"
              },
              "type": "object"
            }
          ]
        }
      },
      "id": "director-log-context",
      "name": "Director: Log Phase 1 Context (Skipped)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phase2-instructions",
              "name": "phase2Instructions",
              "value": {
                "workflow_type": "database_item_creation",
                "target_agent": "notion",
                "instructions": "Create database items from the categorized ideas. For each idea, create a new page in the appropriate Notion database with rich content formatting.",
                "categorized_ideas": "={{ $('Setup Phase 2 Context').item.json.phase2Context.mockPhase1Results.categorized_ideas }}",
                "target_databases": {
                  "projects": "3cd8ea052d6d4b69956e89b1184cae75",
                  "knowledge": "263d7be3dbcd80c0b6e4fd309a8af453", 
                  "journal": "a1d35f6081a044589425512cb9d136b7"
                },
                "operation_mode": "create_new_items"
              },
              "type": "object"
            }
          ]
        }
      },
      "id": "director-create-phase2-instructions",
      "name": "Prepare Phase 2 Instructions", 
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Phase 2 Instructions for Database Creation\nconst phase2Instructions = $json.phase2Instructions;\nconst phase2Context = $('Setup Phase 2 Context').first().json.phase2Context;\n\n// Get categorized ideas from the instructions\nconst categorizedIdeas = phase2Instructions.categorized_ideas || [];\nconst targetDatabases = phase2Instructions.target_databases || {};\n\n// Build instruction text for the Notion Agent\nlet instructionText = '# PHASE 2: DATABASE ITEM CREATION\\n\\n';\ninstructionText += '## OBJECTIVE\\n';\ninstructionText += 'Create database items from categorized ideas using the validated database endpoints.\\n\\n';\n\ninstructionText += '## TARGET DATABASES\\n';\nObject.entries(targetDatabases).forEach(([type, id]) => {\n  const count = categorizedIdeas.filter(idea => idea.categorization.database === type).length;\n  instructionText += `- **${type.toUpperCase()}**: ${id} (${count} items)\\n`;\n});\ninstructionText += '\\n';\n\ninstructionText += '## CATEGORIZED IDEAS TO CREATE\\n';\ncategorizedIdeas.forEach((idea, index) => {\n  instructionText += `### ${index + 1}. ${idea.title}\\n`;\n  instructionText += `- Database: ${idea.categorization.database}\\n`;\n  instructionText += `- Database ID: ${idea.categorization.database_id}\\n`;\n  instructionText += `- Category: ${idea.categorization.category}\\n`;\n  instructionText += `- Priority: ${idea.categorization.priority}\\n`;\n  instructionText += `- Tags: ${idea.categorization.tags.join(', ')}\\n`;\n  instructionText += `- Content: ${idea.original_content}\\n\\n`;\n});\n\ninstructionText += '## EXECUTION STEPS\\n';\ninstructionText += '1. For each idea, create a new page in the target database\\n';\ninstructionText += '2. Use POST /api/databases/{database_id}/pages\\n';\ninstructionText += '3. Include rich content formatting\\n';\ninstructionText += '4. Set appropriate properties based on categorization\\n\\n';\n\ninstructionText += '**BEGIN DATABASE CREATION NOW**\\n';\n\n// Return properly formatted data for n8n\nreturn {\n  json: {\n    instructionText: instructionText,\n    task_id: 'phase2_database_creation',\n    phase: 'database_creation',\n    categorized_ideas: categorizedIdeas,\n    target_databases: targetDatabases,\n    context_id: phase2Context.mockPhase1Results.context_id,\n    operation_mode: phase2Instructions.operation_mode\n  }\n};"
      },
      "id": "parse-phase2-instructions",
      "name": "Parse Phase 2 Instructions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Direct Database Creation - Phase 2 Implementation\nconst phase2Instructions = $json;\nconst categorizedIdeas = phase2Instructions.categorized_ideas || [];\nconst targetDatabases = phase2Instructions.target_databases || {};\n\n// Process each categorized idea and create database items\nconst creationResults = [];\nlet totalProcessed = 0;\nlet successfulCreations = 0;\nlet failedCreations = 0;\n\n// Mock database creation for testing (replace with actual API calls)\ncategorizedIdeas.forEach((idea, index) => {\n  totalProcessed++;\n  \n  try {\n    // Simulate database item creation\n    const databaseId = idea.categorization.database_id;\n    const databaseType = idea.categorization.database;\n    \n    // Create properties based on database type\n    let properties = {};\n    let content = idea.original_content;\n    \n    if (databaseType === 'projects') {\n      properties = {\n        \"Name\": {\n          \"title\": [{\n            \"text\": { \"content\": idea.title }\n          }]\n        },\n        \"Tags\": {\n          \"multi_select\": idea.categorization.tags.map(tag => ({ \"name\": tag }))\n        }\n      };\n      content = `# ${idea.title}\\n\\n${idea.original_content}\\n\\n## Project Details\\n- **Category**: ${idea.categorization.category}\\n- **Priority**: ${idea.categorization.priority}\\n- **Tags**: ${idea.categorization.tags.join(', ')}`;\n    } else if (databaseType === 'knowledge') {\n      properties = {\n        \"Title\": {\n          \"title\": [{\n            \"text\": { \"content\": idea.title }\n          }]\n        },\n        \"Tags\": {\n          \"multi_select\": idea.categorization.tags.map(tag => ({ \"name\": tag }))\n        }\n      };\n      content = `# ${idea.title}\\n\\n${idea.original_content}\\n\\n## Knowledge Base Entry\\n- **Category**: ${idea.categorization.category}\\n- **Tags**: ${idea.categorization.tags.join(', ')}`;\n    } else if (databaseType === 'journal') {\n      properties = {\n        \"Name\": {\n          \"title\": [{\n            \"text\": { \"content\": idea.title }\n          }]\n        },\n        \"Tags\": {\n          \"multi_select\": idea.categorization.tags.map(tag => ({ \"name\": tag }))\n        }\n      };\n      content = `# ${idea.title}\\n\\n${idea.original_content}\\n\\n## Journal Entry\\n- **Category**: ${idea.categorization.category}\\n- **Date**: ${new Date().toISOString().split('T')[0]}\\n- **Tags**: ${idea.categorization.tags.join(', ')}`;\n    }\n    \n    // Mock successful creation\n    const creationResult = {\n      idea_id: idea.idea_id,\n      database_type: databaseType,\n      database_id: databaseId,\n      creation_status: 'success',\n      page_id: `mock_page_${Date.now()}_${index}`,\n      properties: properties,\n      content: content,\n      timestamp: new Date().toISOString()\n    };\n    \n    creationResults.push(creationResult);\n    successfulCreations++;\n    \n    console.log(`✅ Created ${databaseType} item: ${idea.title}`);\n    \n  } catch (error) {\n    failedCreations++;\n    const errorResult = {\n      idea_id: idea.idea_id,\n      database_type: idea.categorization.database,\n      database_id: idea.categorization.database_id,\n      creation_status: 'failed',\n      error: error.message,\n      timestamp: new Date().toISOString()\n    };\n    \n    creationResults.push(errorResult);\n    console.error(`❌ Failed to create item: ${idea.title} - ${error.message}`);\n  }\n});\n\n// Calculate database breakdown\nconst databaseBreakdown = {\n  projects: { created: 0, failed: 0 },\n  knowledge: { created: 0, failed: 0 },\n  journal: { created: 0, failed: 0 }\n};\n\ncreationResults.forEach(result => {\n  if (databaseBreakdown[result.database_type]) {\n    if (result.creation_status === 'success') {\n      databaseBreakdown[result.database_type].created++;\n    } else {\n      databaseBreakdown[result.database_type].failed++;\n    }\n  }\n});\n\n// Create comprehensive Phase 2 results\nconst phase2Results = {\n  agent_id: 'notion_direct',\n  task_id: phase2Instructions.task_id,\n  phase: 'database_creation_complete',\n  timestamp: new Date().toISOString(),\n  execution_time_ms: Date.now() - new Date().getTime(),\n  results: {\n    database_items_created: creationResults,\n    source_ideas_updated: [], // Not implemented in this test\n    summary: {\n      total_ideas_processed: totalProcessed,\n      successful_creations: successfulCreations,\n      failed_creations: failedCreations,\n      projects_created: databaseBreakdown.projects.created,\n      knowledge_created: databaseBreakdown.knowledge.created,\n      journal_created: databaseBreakdown.journal.created,\n      source_ideas_completed: 0 // Not implemented in this test\n    }\n  },\n  status: {\n    success: failedCreations === 0,\n    errors: creationResults.filter(r => r.creation_status === 'failed').map(r => r.error),\n    next_phase: failedCreations === 0 ? 'workflow_complete' : 'error_review'\n  },\n  performance_metrics: {\n    database_schemas_fetched: Object.keys(targetDatabases).length,\n    api_calls_made: totalProcessed,\n    average_creation_time_ms: totalProcessed > 0 ? 100 : 0 // Mock timing\n  }\n};\n\n// Return results for next node\nreturn {\n  json: {\n    phase2Results: phase2Results,\n    creationResults: creationResults,\n    databaseBreakdown: databaseBreakdown,\n    summary: {\n      total_processed: totalProcessed,\n      successful: successfulCreations,\n      failed: failedCreations,\n      success_rate: totalProcessed > 0 ? (successfulCreations / totalProcessed) * 100 : 0\n    },\n    output: `Phase 2 Database Creation Complete!\\n\\n📊 RESULTS SUMMARY:\\n- Total Ideas Processed: ${totalProcessed}\\n- Successful Creations: ${successfulCreations}\\n- Failed Creations: ${failedCreations}\\n- Success Rate: ${totalProcessed > 0 ? Math.round((successfulCreations / totalProcessed) * 100) : 0}%\\n\\n📁 DATABASE BREAKDOWN:\\n- Projects: ${databaseBreakdown.projects.created} created, ${databaseBreakdown.projects.failed} failed\\n- Knowledge: ${databaseBreakdown.knowledge.created} created, ${databaseBreakdown.knowledge.failed} failed\\n- Journal: ${databaseBreakdown.journal.created} created, ${databaseBreakdown.journal.failed} failed\\n\\n✅ Phase 2 database creation workflow completed successfully!`\n  }\n};"
      },
      "id": "direct-database-creation",
      "name": "Direct Database Creation (Mock)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process Direct Database Creation Results\nconst directCreationOutput = $json;\nconst phase2Context = $('Parse Phase 2 Instructions').first().json;\n\n// Extract results from Direct Database Creation node\nconst phase2Results = directCreationOutput.phase2Results;\nconst creationResults = directCreationOutput.creationResults || [];\nconst databaseBreakdown = directCreationOutput.databaseBreakdown;\nconst summary = directCreationOutput.summary;\n\nconsole.log('Direct Creation Results:', JSON.stringify({\n  totalProcessed: summary?.total_processed,\n  successful: summary?.successful,\n  failed: summary?.failed,\n  successRate: summary?.success_rate\n}));\n\n// Calculate comprehensive metrics\nconst totalExecutionTime = Date.now() - new Date($('Setup Phase 2 Context').first().json.phase2Context.startTime).getTime();\nconst originalIdeasCount = phase2Context.categorized_ideas?.length || 0;\n\n// Create workflow completion summary using actual results\nconst workflowSummary = {\n  phase2_complete: true,\n  workflow_complete: phase2Results?.status?.next_phase === 'workflow_complete',\n  total_execution_time_ms: totalExecutionTime,\n  phase1_results: {\n    ideas_categorized: originalIdeasCount,\n    categories_assigned: ['projects', 'knowledge', 'journal']\n  },\n  phase2_results: {\n    database_items_created: summary?.successful || 0,\n    source_ideas_updated: 0, // Not implemented in test\n    creation_success_rate: (summary?.success_rate || 0) / 100 // Convert percentage to decimal\n  },\n  database_breakdown: databaseBreakdown || {\n    projects: { created: 0, failed: 0 },\n    knowledge: { created: 0, failed: 0 },\n    journal: { created: 0, failed: 0 }\n  },\n  performance_analysis: {\n    avg_time_per_creation: phase2Results?.performance_metrics?.average_creation_time_ms || 0,\n    total_api_calls: phase2Results?.performance_metrics?.api_calls_made || 0,\n    schemas_fetched: phase2Results?.performance_metrics?.database_schemas_fetched || 0\n  }\n};\n\n// Create Director context update payload\nconst directorContextUpdate = {\n  context_id: phase2Context.context_id,\n  phase: 'workflow_complete',\n  agent_response: phase2Results,\n  workflow_summary: workflowSummary,\n  timestamp: new Date().toISOString()\n};\n\n// Final output with corrected data\nreturn [{\n  phase2Complete: true,\n  workflowResults: {\n    phase1_categorization: {\n      ideas_processed: originalIdeasCount,\n      categorization_complete: true\n    },\n    phase2_creation: {\n      items_created: summary?.successful || 0,\n      success_rate: (summary?.success_rate || 0) / 100,\n      database_breakdown: databaseBreakdown || {\n        projects: { created: 0, failed: 0 },\n        knowledge: { created: 0, failed: 0 },\n        journal: { created: 0, failed: 0 }\n      }\n    },\n    overall_success: (summary?.failed || 0) === 0 && (summary?.successful || 0) > 0,\n    total_time_ms: totalExecutionTime\n  },\n  directorContextUpdate,\n  phase2Results,\n  rawAgentOutput: directCreationOutput.output || 'Direct database creation completed',\n  debugInfo: {\n    original_ideas_count: originalIdeasCount,\n    context_id: phase2Context.context_id,\n    task_id: phase2Context.task_id,\n    databases_targeted: Object.keys(phase2Context.target_databases || {}),\n    direct_creation_summary: summary,\n    creation_results_count: creationResults.length\n  }\n}];"
      },
      "id": "analyze-phase2-results",
      "name": "Analyze Phase 2 Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-complete",
              "name": "workflowComplete",
              "value": {
                "success": true,
                "message": "Phase 2 database creation workflow completed successfully!",
                "timestamp": "={{ new Date().toISOString() }}",
                "results_summary": "={{ $json.phase2Results }}"
              },
              "type": "object"
            }
          ]
        }
      },
      "id": "director-final-context-update",
      "name": "Workflow Complete ✅",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Setup Phase 2 Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Phase 2 Context": {
      "main": [
        [
          {
            "node": "Director: Log Phase 1 Context (Skipped)",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Director: Log Phase 1 Context (Skipped)": {
      "main": [
        [
          {
            "node": "Prepare Phase 2 Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phase 2 Instructions": {
      "main": [
        [
          {
            "node": "Parse Phase 2 Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Phase 2 Instructions": {
      "main": [
        [
          {
            "node": "Direct Database Creation (Mock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct Database Creation (Mock)": {
      "main": [
        [
          {
            "node": "Analyze Phase 2 Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Phase 2 Results": {
      "main": [
        [
          {
            "node": "Workflow Complete ✅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-06T19:30:00.000Z",
  "versionId": "1"
}
