n8n/workflows/webhook-bridges/planner-agent-health.json
{
  "name": "Planner Agent Health Check Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "planner-agent-health",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Health Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "health-response",
              "name": "response",
              "value": {
                "agent_id": "planner",
                "status": "healthy",
                "timestamp": "={{ new Date().toISOString() }}",
                "services": {
                  "strategic_planning": "active",
                  "task_decomposition": "active", 
                  "analysis_tools": "active"
                },
                "capabilities": [
                  "task_breakdown",
                  "execution_strategies", 
                  "resource_planning",
                  "timeline_planning",
                  "integration_planning"
                ],
                "last_activity": "={{ new Date().toISOString() }}",
                "version": "1.0.0"
              },
              "type": "object"
            }
          ]
        }
      },
      "id": "health-response",
      "name": "Health Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-response",
      "name": "Webhook Response",  
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Health Check": {
      "main": [
        [
          {
            "node": "Health Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["webhook-bridge", "planner-agent", "health"],
  "triggerCount": 0,
  "updatedAt": "2025-09-06T01:10:00.000Z",
  "versionId": "webhook-bridge-v1"
}
